.imagen{
  float: left;
  margin-left: -2%;
  margin-top:-2%;
  width:  40%;
}


.welcome{
  float: left;
  margin-left: 10%;
  margin-top:10%;
  width:  40%;
  font-family: 'Poppins';
  text-align: center;
}

.inputfield{
  font-size: 150%;
  font-family: 'Poppins';
}

.button{
  background-color: #DB2453;
  float: left;
  margin-top: 3%;
  margin-left: 35%;
  width: 30%;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 130%;
  color: #FFF;
}

.button:hover{
  cursor: pointer;
}


.button2{
  background-color: #DB2453;
  float: left;
  margin-top: 4%;
  margin-left: 2%;
  width: 20%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 110%;
  color: #FFF;
}

.button2:hover{
  cursor: pointer;
}
